.schedule-item {
  background-color: #b448441a !important;
}

.list-group-item {
  padding: 1em 3em !important;
  outline: solid #b448441a 3px;
}

.schedule-item-text {
  color: white;
  white-space: pre;
}

.schedule-item-name {
  text-align: right;
  width: 100%;
}

.schedule {
  border-radius: 50px;
  background: #E95C57 !important;
  box-shadow: 32px 32px 63px #b44844, -32px -32px 63px #b44844;
}

.top {
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
  padding-top: 2em !important;
}

.bottom {
  border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  padding-bottom: 2em !important;
}

p.schedule-item-name-text, p.schedule-item-time {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .list-group-item {
    padding: 1.5em 1.5em !important;
    font-size: 3.5vw;
  }

  .top {
    border-top-left-radius: 50px !important;
    border-top-right-radius: 50px !important;
  }

  .bottom {
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
  }
}
